.page {
  max-width: 1024px;
  margin: 0 auto;

  padding: 2rem;

  .section {
    padding: 1.5rem 0;

    .posts {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 2.5rem;
      column-gap: 2.5rem;
    }
  }
}

// Media Queries
@media screen and (max-width: 1024px) {
  .page {
    .section {
      .posts {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (max-width: 675px) {
  .page {
    padding: 0;

    .section {
      padding: 1.5rem 5vw;

      .posts {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
