.page {
  width: 100%;
  padding: 5rem 1.5rem;

  article {
    width: min(700px, 100%);
    margin: 0 auto;

    .title {
      margin-bottom: 1.5rem;
      font-family: "Gilmer", sans-serif;
      font-size: 3rem;
      font-weight: 800;
      line-height: 1.2;
    }

    .details {
      margin-bottom: 3.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      h3,
      h4 {
        color: var(--foreground-secondary);
        font-size: 0.9rem;
        font-weight: 600;
        letter-spacing: 0.025rem;

        a {
          color: var(--accent);
          font-weight: 700;
          text-decoration: none;
          transition: color 100ms ease;

          &:hover {
            color: var(--dark-accent);
          }
        }

        span {
          color: var(--foreground-primary);
          font-weight: 700;
        }
      }
    }

    .content {
      margin-bottom: 3.5rem;
      font-size: 1.0625rem;
      letter-spacing: 0.0125rem;
      line-height: 2;

      h2 {
        font-size: 2.5rem;
        letter-spacing: 0.01rem;
        line-height: 1.25;
      }

      h3 {
        font-size: 1.5rem;
        letter-spacing: 0.004rem;
        line-height: 1.4;
      }

      h2,
      h3 {
        font-family: "Gilmer", sans-serif;

        &:not(:first-child) {
          margin-top: 3rem;
        }

        &:not(:last-child) {
          margin-bottom: 0.75rem;
        }
      }

      a {
        color: var(--accent);
        font-weight: 600;
        text-decoration: none;
        transition: color 100ms ease;

        &:hover {
          color: var(--dark-accent);
          text-decoration: underline;
        }
      }

      ul {
        margin-left: 1.25rem;
        padding-left: 2rem;
      }

      p,
      ul {
        &:not(:last-child) {
          margin-bottom: 0.75rem;
        }
      }

      .image {
        position: relative;
        left: -5rem;
        width: calc(100% + 10rem);
        height: 500px;
        margin: 2rem 0;

        img {
          object-fit: cover;
        }
      }
    }

    .social_media {
      padding: 1rem 1.5rem;
      background: var(--background-secondary);
      display: flex;
      align-items: center;
      justify-content: space-between;

      h5 {
        font-size: 1.0625rem;
        letter-spacing: 0.0125rem;
        line-height: 1.5;
        display: flex;
        gap: 0.25rem;
      }

      .icons {
        display: flex;
        gap: 0.75rem;

        a {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          background: var(--light-accent);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background 100ms ease;

          &:hover {
            background: var(--accent);

            svg {
              color: var(--background-primary);
            }
          }

          svg {
            color: var(--foreground-primary);
            font-size: 1.25rem;
            transition: color 100ms ease;
          }
        }
      }
    }
  }
}

// Media Queries
@media screen and (max-width: 1024px) {
  .page {
    padding: 3.5rem 1.5rem;

    article {
      width: min(575px, 100%);

      .title {
        font-size: 2.625rem;
      }

      .content {
        font-size: 1rem;

        h2 {
          font-size: 2rem;
        }

        .image {
          left: -2.5rem;
          width: calc(100% + 5rem);
          height: 375px;
          margin: 1.5rem 0;
        }
      }

      .social_media {
        h5 {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .page {
    article {
      .content {
        h2 {
          font-size: 1.75rem;
          line-height: 1.35;
        }

        h3 {
          font-size: 1.375rem;
          line-height: 1.5;
        }

        .image {
          left: 0;
          width: 100%;
          height: 50vw;
        }
      }

      .social_media {
        flex-direction: column;
        gap: 1rem;

        h5 {
          flex-direction: column;
          align-items: center;
          gap: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .page {
    article {
      .title {
        font-size: 2rem;
      }
    }
  }
}
