.footer {
  padding: 4rem 0 2rem;
  background: var(--dark-accent);

  .wrapper {
    max-width: var(--large-query);
    margin: 0 auto;
    padding: 0 1.5rem;

    .row {
      display: flex;
      justify-content: space-between;

      &:not(:first-child) {
        margin-top: 4rem;
      }

      .logo {
        position: relative;
        width: 80px;
        height: 50px;
      }

      .column,
      .social_media {
        h4 {
          margin-bottom: 0.5rem;
          color: var(--background-one);
          font-size: 0.9rem;
          font-weight: 600;
          text-transform: capitalize;
        }

        h5,
        a {
          color: var(--light-accent);
          font-size: 0.8rem;
          font-weight: 500;
          text-decoration: none;
          display: block;
          transition: color 100ms ease-in;

          &:hover {
            color: var(--background-one);
          }

          &:not(:last-child) {
            margin-bottom: 0.25rem;
          }
        }

        h5 {
          &:first-child {
            text-align: center;
          }
        }
      }

      .social_media {
        display: flex;
        gap: 1rem;

        a {
          &:not(:last-child) {
            margin: 0;
          }
        }
      }
    }
  }
}

// Media Queries
@media screen and (max-width: 1024px) {
  .footer {
    .wrapper {
      .row {
        &:not(:first-child) {
          align-items: center;
          flex-direction: column;
          gap: 0.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 675px) {
  .footer {
    .wrapper {
      padding: 0 1.25rem;

      .row {
        flex-direction: column;
        gap: 2rem;
      }
    }
  }
}
