.footer {
  position: relative;
  z-index: 5;
  width: 100vw;
  margin-top: 4rem;
  padding: 1.25rem 0;
  background: var(--foreground-one);

  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2rem;

    h4 {
      color: var(--background-two);
      font-size: 0.65rem;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

// Media Queries
@media screen and (max-width: 600px) {
  .footer {
    .wrapper {
      padding: 0 5vw;
    }
  }
}
