.header {
  width: 100%;
  height: var(--header-height);

  .wrapper {
    position: relative;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%);
    width: min(var(--large-query), 100%);
    height: var(--header-height);
    padding: 0 1.5rem;
    border-radius: 0.25rem;
    background: var(--background-one);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 150ms ease-out, box-shadow 150ms ease-out;

    &.fixed {
      position: fixed;
      top: calc(0px - var(--header-height));
    }

    &.visible {
      top: 0.75rem;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    }

    .logo {
      position: relative;
      width: 80px;
      height: 100%;
    }

    .menu {
      margin-right: -0.5rem;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        svg {
          rect {
            &:nth-child(1) {
              transform: translateX(-5px);
              width: 20px;
            }

            &:nth-child(2) {
              transform: translateX(-10px);
              width: 20px;
            }
          }
        }
      }

      span {
        font-size: 0.8rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      svg {
        margin-left: 0.75rem;
        fill: var(--foreground-one);

        rect {
          transition: 100ms ease-in;
        }
      }
    }
  }
}

// Media Queries
@media screen and (max-width: 1024px) {
  .header {
    .wrapper {
      border-radius: 0;

      &.visible {
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .header {
    .wrapper {
      padding: 0 5vw;
    }
  }
}
