.header {
  position: sticky;
  top: -0.1px;
  z-index: 10;
  height: var(--header-height);
  padding: 0 1.5rem;
  border-bottom: 1px solid var(--gray-primary);
  background: var(--background-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
  }

  button {
    padding: 0.5rem 1.25rem;
    border: 1px solid var(--gray-primary);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    transition: border-color 100ms ease, background 100ms ease, color 100ms ease;

    &:hover {
      border-color: var(--accent);
      background: var(--accent);
      color: var(--background-primary);
    }

    svg {
      font-size: 1.125rem;
    }

    span {
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    button {
      padding: 0.5rem;

      span {
        display: none;
      }
    }
  }
}
