.label {
  padding: 0.75rem 1.5rem;
  background: var(--accent);

  h6 {
    color: var(--background-primary);
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center;
  }
}
