.menu {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: none;
  flex-direction: column;

  &.active {
    display: flex;
  }

  .container {
    padding: 3rem 1.5rem;
    background: var(--background-primary);

    .content {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      gap: 3rem;

      .column {
        text-align: center;
        display: flex;
        flex-direction: column;

        h4 {
          margin-bottom: 1rem;
          font-size: 1.2rem;
          font-weight: 700;
          text-transform: capitalize;
        }

        h5,
        a {
          color: var(--foreground-primary);
          font-size: 1rem;
          font-weight: 600;
          text-decoration: none;

          &:not(:first-of-type) {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }

  .overlay {
    background: var(--foreground-primary);
    opacity: 0.8;
    flex: 1;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    .container {
      .content {
        flex-direction: column;
      }
    }
  }
}
