.button {
  position: fixed;
  right: 3rem;
  bottom: -3rem;
  z-index: 3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--accent);
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 150ms ease-out;

  &.active {
    bottom: 3rem;
    opacity: 1;
    visibility: visible;
  }

  svg {
    color: var(--background-one);
    font-size: 1.75rem;
  }
}

// Media Queries
@media screen and (max-width: 1024px) {
  .button {
    right: 2rem;

    &.active {
      bottom: 2rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .button {
    right: 1.25rem;
    width: 40px;
    height: 40px;

    &.active {
      bottom: 1.25rem;
    }

    svg {
      font-size: 1.5rem;
    }
  }
}
