:root {
  --foreground-one: #282828;
  --foreground-two: #454545;
  --background-one: #ffffff;
  --background-two: #f7f7f7;

  --accent: #216fed;
  --dark-accent: #0c0c45;
  --light-accent: #7877a7;
  --error: #f54d4d;

  --header-height: 80px;

  --large-query: 1024px;
  --medium-query: 700px;
  --small-query: 475px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
input,
textarea,
button,
code {
  color: var(--foreground-one);
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.25px;
}

input,
textarea,
button {
  background: none;
  border: none;
  outline: none;
}

body {
  background: var(--background-one);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

::selection {
  background: var(--accent);
  color: var(--background-one);
}

// Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
