:root {
  --foreground-one: #00102f;
  --foreground-two: #677183;
  --foreground-three: #979eaa;
  --background-one: #ffffff;
  --background-two: #e6e6e6;

  --blue: #0a5cff;
  --night-blue: #0044cc;
  --light-blue: #e6efff;
  --dark-blue: #d1e2ff;

  --valid: #01d5ae;
  --error: #ff716d;

  --header-height: 80px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
input,
textarea,
button,
code {
  color: var(--foreground-one);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

input,
textarea,
button {
  background: none;
  border: none;
  outline: none;
}

body {
  background: var(--background-one);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

::selection {
  background: var(--blue);
  color: var(--background-one);
}

// Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
